.popup {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    color: rgb(255, 255, 255);
    padding: 10px;
    position: absolute;
    left: 50%;
    border-radius: 15px;
    max-width: 380px;
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.32);
    top: -150%;
    opacity: 0;
    pointer-events: none;
    transition: top 0s 2.0s ease-in-out, opacity 0.3s 0s ease-in-out, transform 0.3s 0s ease-in-out;
}

.popup.show {
    top: 50%;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1.2);
    transition: top 0s 2.0s ease-in-out, opacity 0.3s 0s ease-in-out, transform 0.3s 0s ease-in-out;
}

.popup header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span {
    font-size: 21px;
    font-weight: 600;
}

header .close {
    cursor: pointer;
    height: 33px;
    width: 33px;
}

.popup .content {
    margin-top: 10px 0;
    justify-content: space-evenly;
}

.content #username {
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    width: 60%;
    height: 20px;
    outline: none;
    color: rgb(128, 69, 69);
    padding: 5px;
    border-radius: 5px;
}

.content .user {
    display: flex;
    justify-content: space-evenly;
}